body {
	font-family: "Roboto Condensed", sans-serif;
}


.bold {
	font-weight: bold;
}

.inline-list {
	list-style: none;
	& > li {
		display:inline;
	}
}

.status-bar {
	background-color: #276187;
}

.navigation-bar {
	background: url(../img/abstract_geometric.png) center center no-repeat;
	color: white;
}

.nav {
	text-align: center;
}

.apla {
	text-align: center;
	background: url(../img/morskie-oko-panorama-duza.png) center center no-repeat;
	color: white;
}

.news-left {
	background: url(../img/abstract_geometric_low_poly.png);
	color: white;
}

.news-right {
	background-color: #00101c;
	color: white;
}

.proposals {
	.col-md-4 {
		height: 200px;
	}
}

@import "proposals-pics.less";

.testimonials {
	background: url(../img/abstract_geometric_low_poly.png);
	height: 400px;
}

.testimonials-col {
	background-color: #00101c;
	height: 300px;
	margin: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	padding: 5px;
}

.testimonials-empty-left {
	height: 300px;
	margin: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	padding: 5px;
	text-align: right;
	font-size: 150px;
	line-height: 300px;
}

.testimonials-empty-right {
	height: 300px;
	margin: 10px;
	line-height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	padding: 5px;
	text-align: left;
	font-size: 150px;
}

.testimonials-col>p {
	font-size: 10px;	
}

.testimonials-pic-1,
.testimonials-pic-2,
.testimonials-pic-3 {
	width: 100%;
}

.contact {
	height: 300px;
}

.footer {
	background-color: #00101c;
	color: white;
}