.sub-apla {
	background: url(../img/rewal3.png) no-repeat center center;
	background-size: cover;
	height: 300px;
}

.offers-header {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;

	ul {
		display: inline;
		padding-left: 0;
	}

	row {
		display: -webkit-box;
    	display: -webkit-flex;
    	display: flex;
    	flex:1 0 auto;
	}
}

/*.offers-list {
	padding-left: 0px;
	padding-right: 0px;
}*/

.img-col {
	text-align: right;

	img {
		width: 100%;
	}
}

.offers-nav {
	background-color: #427ca2;
	height: 60px;
	color: white;
	line-height: 60px;
}

.offers-nav-left {
	text-align: right;
}

.offers-nav-right {
	text-align: left;
}

.offers-nav-middle {
	text-align: center;
}

.offers-table {

	background-color: white;

	.row:nth-child(odd) {
		background-color: #edeff2;
	}

	display: table;
	.row {
		display: table-row;
	}

	div[class^="col-"] {
		display: table-cell;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	h4 {
		color: #a3b1bc;
	}
}

.details-col {
	p {
		text-indent: 20px;
	}

	h3 {
		margin-top: 5px;
	}
}

.details {
	text-align: right;
	a {
		color: #bca51d;
		text-decoration: underline;
	}
}

.stars {
	color: #bca51d;
	padding-bottom: 30px;
}

.fac-col {
	font-size: 25px;
	color: #444444;
	.icon {
		padding-bottom: 5px;
	}
}

.score-col {
	h5 {
		color: #bca51d;
		font-size: 18px;
	}

	button {
		background-color: #bca51d;
    	color: white;
    	border: none;
    	padding: 10px 30px 10px 30px;
    	font-size: 12px;
    	font-weight: 600;
	}
}

.oldprice {
	text-decoration: line-through;
	color: #a3b1bc;
	font-size: 18px;
}

.p-price {
	font-size: 24px;
	font-weight: 500;
	color: #a3b1bc;
}

.price {
	color: black;
}

.opinions {
	color: #a3b1bc;
}

.nights {
	font-size: 12px;
}

.btn-nav {
	color: #3C3C3C;
	margin: 0;
	& > span {
		padding-right: 10px;
		padding-left: 10px;
		font-size: 20px;
	}
}

.btn-active {
	color: white;
	&:hover {
		cursor: pointer;
		cursor: hand;
	}
}

.page-num {
	padding: 5px 10px 5px 10px;

}

.active-page {
	background-color: #bca51d;
}